/* LeftRight listbox control ------------------------------------ */

.lr-list
{
    margin: 0 auto 0 auto;
}

.lr-left-list
{
    width: 180px;
    float:left;
}

.lr-right-list
{
    width: 180px;
    float:left;
}

.lr-list-buttons-container
{
    width: 20px;
    float:left;
    margin: 15px 3px 0px 3px;
}

.lr-list-buttons
{
    list-style-type:none;
}

.lr-button
{
    margin: 0px 0px 3px 0px;
}
.lr-upload-size
{
    width:118px;
}