@*//VS jQuery Docs, used only for design time *@
@if (false) {
    <script src="../../Scripts/jquery-1.6.2-vsdoc.js" type="text/javascript"></script>
}   

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>
