
<div id="HomePageHeader">
    <h1>Welcome to the Major Projects Lessons Learned System</h1>
</div>

<div id="HomePageContent">
    <h2>As the Lessons Learned Administrator, this site will allow you to add lessons, search the database, edit lessons, add field values and track all lessons entered into the database.</h2>
    
    <p>As the Lessons Learned Administrator it is your responsibility to help users utilize this tool and govern the Lessons Learned process.  Additionally you are the first point of contact when lessons are submitted into the database by the Lessons Learned Coordinators, checking lesson quality and credibility before passing onto the BPO’s for validation.</p>

    <p>All Lessons Learned information, standards and procedures are located on the <a target="_blank" href="http://thecore.network.lan/en/depts/mp/projtoolbox/Pages/LessonsLearned.aspx">Lessons Learned Core Page</a>.</p>

</div>

