
<div id="HomePageHeader">
    <h1>Welcome to the Major Projects Lessons Learned System</h1>
</div>

<div id="HomePageContent">
    <h2>As a general user, this site will allow you to add lessons to the database to start the validation process and search valid lessons.</h2>
    
    <p>The Major Projects Group has implemented many best practices such as <strong>SPIM</strong> (Suncor Project Implementation Model), for project approval, constructability, operability, maintainability reviews and team building. These things add value and contribute to continuous improvement in project performance. The <strong>Lessons Learned Program</strong> will help to maximize the benefits of this information by providing a structured approach to applying project learnings.</p>

    <p>This program allows all Major Projects participants to search the lessons learned database and input new lessons learned from their project experience.  Lessons Learned Coordinators will facilitate discussion with the originators of the lessons and are responsible for collecting and adding new lessons.</p>

    <p class="indent">The tabs above will help in the Lessons Learned process:</p>

    <p class="indent"><span class="fancy-text">My Lessons:</span> This tab provides a list of lessons you have submitted for validation.</p>

    <p class="indent"><span class="fancy-text">Submit:</span> This tab allows you to submit multiple lessons into the database to start the validation process.  Lessons are kept as drafts until you are ready to submit them for validation. <strong>Before submitting a lesson into the database, please have a conversation with the Lessons Learned Coordinator assigned to the project you are working on, to ensure they have not already captured the lesson.  It is their responsibility to collect and submit lessons for each project.</strong></p>

    <p class="indent"><span class="fancy-text">Edit:</span> This section allows you to edit content of your lessons during draft status.</p>

    <p class="indent"><span class="fancy-text">Search:</span> This tab provides you with a variety of fields to search on to help narrow down search results.</p>

    <p class="indent"><span class="fancy-text">Help:</span> There are two icons you will see on the screen to help guide you through the site.</p>

    <p class="indent">The <span class="web-sprite sprite-help-browser" style="float:left;position:relative; left:53px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; icon is for tool tips and when hovered over with your mouse will provide additional information about functionality.</p>

    <p class="indent">The <span class="web-sprite sprite-cursor-help" style="float:left;position:relative; left:53px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; icon provides a description of the field and is visible when you hover over a field name (e.g. Project Name = The official name of the project you are generating lessons for).</p>

    <p>For users guides, a listing of Lessons Learned Coordinators and Lesson Learned standards and procedures, please see the reference documents located on the <a target="_blank" href="http://thecore.network.lan/en/depts/mp/projtoolbox/Pages/LessonsLearned.aspx">Lessons Learned Core Page</a>.</p>

</div>

