
<div id="HomePageHeader">
    <h1>Welcome to the Major Projects Lessons Learned System</h1>
</div>

<div id="HomePageContent">
    <h2>As a Lessons Learned Coordinator, this site will allow you to submit and track lessons, search the database, edit lessons and generate an action log.</h2>
    
    <p class="indent">The tabs above will help in the Lessons Learned process:</p>

    <p class="indent"><span class="fancy-text">My Lessons:</span> This tab provides a list of lessons you have submitted for validation.</p>

    <p class="indent"><span class="fancy-text">Submit:</span> This tab allows you to submit multiple lessons into the database to start the validation process.  Lessons are kept as drafts until you are ready to submit them for validation. Once the lesson has been finalized and you have updated the required fields, you must submit the lesson to start the validation process.</p>

    <p class="indent"><span class="fancy-text">Edit:</span> This section allows you to edit content of your lessons during draft status or if a lesson is returned to you for additional information.</p>

    <p class="indent"><span class="fancy-text">Search:</span> This tab provides you with a variety of fields to search on, with the option to generate an Action Log for your start of phase activities.</p>

    <p class="indent"><span class="fancy-text">Dashboard:</span> This tab allows you to visually see a breakdown of the lessons you have submitted, as they appear in the lesson validation lifecycle.  You have the ability to click into the open lessons pie chart or key, to quickly see all lessons in that grouping. The historical view allows you to see your closed lessons, by year. <em>Note: Once a lesson is closed you will only have the ability to see <strong>valid</strong> lessons.</em></p>

    <p class="indent"><span class="fancy-text">Help:</span> There are two icons you will see on the screen to help guide you through the site.</p>

    <p class="indent">The <span class="web-sprite sprite-help-browser" style="float:left;position:relative; left:53px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; icon is for tool tips and when hovered over with your mouse will provide additional information about functionality.</p>

    <p class="indent">The <span class="web-sprite sprite-cursor-help" style="float:left;position:relative; left:53px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; icon provides a description of the field and is visible when you hover over a field name (e.g. Project Name = The official name of the project you are generating lessons for).</p>

    <p>For help in using this site, please see the reference documents and user guides located on the <a target="_blank" href="http://thecore.network.lan/en/depts/mp/projtoolbox/Pages/LessonsLearned.aspx">Lessons Learned Core Page</a>.  If The Core or the QRG’s are not answering your questions and you require further assistance please email <a href="mailto:LLPGatekeeper@suncor.com?Subject=Lessons%20Learned%20Assistance">LLPGatekeeper@suncor.com</a>.</p>

</div>

